@import url('https://fonts.googleapis.com/css?family=Baskervville|Tomorrow|Roboto:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
$titleFont: 'Courier Prime', monospace;

$regularFont: 'Roboto', sans-serif;

$neon: 'Tomorrow', sans-serif;
@mixin regular(){
    font-family: $regularFont;
    font-weight: 400;
}
@mixin italic(){
    font-family: $regularFont;
    font-weight: 400;
    font-style: italic;
}
@mixin bold(){
    font-family: $regularFont;
    font-weight: 700;
}
h1{
    font-size: 3em;
    font-family: $titleFont;
    font-weight: normal;
}