

@import "./variables/colors";
@import "./variables/typography";
@import "./variables/mixins";
body{
    background-color: $dark;
    color: $three;
}
#loader{
    color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $neon;
    height: 80vh;
    .fullNumber{
        font-size: 30px;
    }
    &.finished{
        color: $three;
        @include glow(lighten($three, .2), lighten($medium-dark, .2));
    }
}
.loadingSection{
    min-height: 100vh;
    width: 100%;
    position: relative;
    .introText{
        position: absolute;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        font-size: .7em;
        bottom: 10vh;
        span{
            display: inline-block;
            position: relative;
            min-width: .4em;
            transform: translate3d(0px, 0px, 0px) scale(1, 1);
        }
    }
}